body {
  min-height: 100%;
  line-height: 1;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('./assets/plant-background.jpeg');
  background-size: auto;
}

h1 {
  color: #381f1e;
}