.projectSection {
    flex: 1 1 100%;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border: 2px solid rgb(77, 72, 72);
    border-radius: 5px;
    box-shadow: 10px 10px 5px darkslategray;
    background-color: #83BDC0;
    margin: 15px 15px;
    padding: 20px;
}

img {
    width: 300px;
    height: auto;
    justify-self: flex-start;
    flex-direction: column;
}